<h1 data-flippd-phase="<%= @phase["id"]%>"><%= @phase["title"] %></h1>
<p class="lead"><%= @phase["summary"] %></p>

<!-- In Each Topic -->
<div id="topics">
  <% closed = true %>
  <% @phase["topics"].each_with_index do |topic, index| %>
  <% if index % 2 == 0 %>
    <% closed = false %>
    <div class="row">
  <% end %>
  <div class="col-md-6" style="padding-top: 15px;">
    <h4><%=index+1%>. <%=topic["title"]%></h4>

    <p>
      <%= topic["summary"] %>
    </p>

    <ul>
    <!-- TODO: Remake to iterate over @items -->
    <% topic["videos"].each do |video| %>
        <li>
          <a href="<%="/phases/#{@phase[ "slug" ]}/#{video["slug"]}"%>"><%=video["title"]%></a>
        </li>
    <% end %>
    <% if not topic['quizzes'].nil? %>
      <% topic["quizzes"].each do |quiz| %>
        <li>
          <a href="<%="/phases/#{@phase[ "slug" ]}/#{quiz["slug"]}"%>">
            <i class="glyphicon glyphicon-pencil"></i>
            <%=quiz["title"]%>
          </a>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
  <% if index % 2 == 1 %>
    <% closed = true %>
    </div>
  <% end %>
  <% end %>
  <% if not closed %>
  </div>
  <% end %>
</div>

<style>
  .phase-itemlist {
    list-style-type: none;
  }

  /* Failsafe */
  .phase-itemlist li:before {
    content: "\e080"; /* glyphicon-chevron-right */
    float: left;
    font-family: 'Glyphicons Halflings';
    font-size: 1em;
    margin-left: -1em;
    margin-right: .25em;
    vertical-align: middle;
  }

  /* Video */
  .phase-itemlist .phase-item-video:before {
    content: "\e059"; /* glyphicon-facetime-video */
    float: left;
    font-family: 'Glyphicons Halflings';
    font-size: 1em;
    margin-left: -1em;
    margin-right: .25em;
    vertical-align: middle;
  }

  /* Quiz */
  .phase-itemlist .phase-item-quiz:before {
    content: "\270f"; /* glyphicon-pencil */
    float: left;
    font-family: 'Glyphicons Halflings';
    font-size: 1em;
    margin-left: -1em;
    margin-right: .25em;
    vertical-align: middle;
  }
</style>
