<h1 data-flippd-phase="<%= @phase["id"]%>"><%= @phase["title"] %></h1>
<p class="lead"><%= @phase["summary"] %></p>

<!-- In Each Topic -->
<div id="topics" class="row">
  <% @phase["topics"].each_with_index do |topic, index| %>
  <div class="col-md-6" style="padding-top: 15px;">
    <h4><%=index+1%>. <%=topic["title"]%></h4>

    <p>
      <%= topic["summary"] %>
    </p>

    <ul>
    <% topic["videos"].each do |video| %>
        <li>
          <a href="/videos/<%=video["id"]%>"><%=video["title"]%></a>
        </li>
    <% end %>
    <% if not topic['quiz'].nil? %>
      <% topic["quiz"].each do |quiz| %>
        <li>
          <a href="/quizzes/<%=quiz["id"]%>">
            <i class="glyphicon glyphicon-pencil"></i>
            <%=quiz["title"]%>
          </a>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
  <% end %>
</div>
