<div class="row">
  <div class="col-xs-6 col-md-6">
    <% if @item_prev %>
      <h5>
        <a href="/item/<%=@item_prev["id"]%>">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
          <%=@item_prev["title"]%>
        </a>
      </h5>
    <% end %>
  </div>
  <div class="col-xs-6 col-md-6" style="text-align: right;">
    <% if @item_next %>
      <h5>
        <a href="/item/<%=@item_next["id"]%>">
          <%=@item_next["title"]%>
          <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </a>
      </h5>
    <% end %>
  </div>
</div>

<h1 data-flippd-phase="<%= @item["phase"]["id"]%>"><%=@item['title']%></h1>

<form>
  <% @item['questions'].each_with_index do |question, question_index| %>
      <div class="form-group">
        <p><%=question['question']%></p>

        <% question['answers'].each_with_index do |answer, answer_index| %>
        <div class="radio">
          <label>
            <input type="radio" name="q<%=question_index%>" value="<%=answer_index%>">
            <%=answer%>
          </label>
        </div>
        <% end %>
      </div>
  <% end %>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
