<h1 data-flippd-phase="<%= @phase["id"]%>"><%=@quiz['title']%></h1>

<form>
  <% @quiz['questions'].each_with_index do |question, question_index| %>
      <div class="form-group">
        <h3><%= ( question_index + 1 ).to_s + ". " + question['question']%></h3>

        <% question['answers'].each_with_index do |answer, answer_index| %>
        <div class="radio">
          <label>
            <input type="radio" name="q<%=question_index%>" value="<%=answer_index%>">
            <%=answer%>
          </label>
        </div>
        <% end %>
      </div>
  <% end %>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
