<div class="row">
  <div class="col-xs-6 col-md-6">
    <% if @item_prev %>
      <h5>
        <a href="<%= "/phases/#{@item_prev["phase"]["slug"]}/#{@item_prev["slug"]}" %>">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
          <%=@item_prev["title"]%>
        </a>
      </h5>
    <% end %>
  </div>
  <div class="col-xs-6 col-md-6" style="text-align: right;">
    <% if @item_next %>
      <h5>
        <a href="<%= "/phases/#{@item_next["phase"]["slug"]}/#{@item_next["slug"]}" %>">
          <%=@item_next["title"]%>
          <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </a>
      </h5>
    <% end %>
  </div>
</div>

<h1 data-flippd-phase="<%= @item["phase"]["id"]%>"><%=@item['title']%></h1>

<form method="post">
  <span style="color:red">
    <%= @submission_error %>
  </span>
  <% @item['questions'].each_with_index do |question, question_index| %>
      <% result_set = @results ? @results[ question_index ] : nil %>

      <div class="form-group">
        <h3>
          <!-- Checkmark or cross at start of each question on submit -->
          <% if not @submission_error.nil? and not result_set[3] %>
            <span class="glyphicon glyphicon-exclamation-sign text-primary"></span>
          <% end %>
          <%= ( question_index + 1 ).to_s + ". " + question['question']%>
        </h3>

        <% question['answers'].each_with_index do |answer, answer_index| %>
        <div class="radio">
          <label>
            <!-- Radio Button -->
            <input
              type="radio"
              name="q<%=question_index%>"
              value="<%=answer_index%>"
              <%= result_set and result_set[1] == answer_index and "checked" or "" %>

            <!-- Text Answer -->
            <%= answer %>
          </label>
        </div>
        <% end %>
      </div>
  <% end %>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
