<%= erb :"util/_item_nav" %>

<h1 data-flippd-phase="<%= @item["phase"]["id"]%>"><%= @item["title"] %></h1>
<p class="lead"><%= @item["description"] %></p>

<div id="video" class="embed-responsive embed-responsive-16by9">
  <div id="player"></div>
</div>

<% if @item["resources"] %>
<div id="resources" class="row" style="margin-top: 1.5em;">
  <div class="col-xs-6 col-md-6">
    <h4>Additional Material</h4>
    <ul class="list-unstyled" style="padding-left: 15px; font-size: 120%;">
    <% @item["resources"].each do |resource| %>
      <li style="padding: 3px 0">
        <span class="glyphicon glyphicon-<%=resource["icon"]%>" aria-hidden="true"></span>
        &nbsp; <a href="<%=resource["url"]%>"><%=resource["title"]%></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>

<div id="comments" class="row" style="margin-top: 1em;">
  <div class="col-xs-6 col-md-6">
    <h4><%=@comments.size %> comments</h4>
  </div>
</div>

<% if @user %>
<div id="comments_form" class="row" style="margin-top: 1em; margin-bottom: 2em;">
  <form action="<%=request.path_info%>/comment" method="POST">
    <div class="form-group">
      <textarea id="new_comment" name="new_comment" class="form-control" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-default pull-right">Post</button>
  </form>
</div>
<% else %>
  <% # TODO: Prompt to sign in %>
<% end %>

<div id="comment_1" class="row comment" class="row" style="margin-bottom: 2em;">
  <div class="col-xs-2 col-md-2" style="padding-top: 10px;">
    <img src="http://placehold.it/100x100">
  </div>
  <div class="col-xs-10 col-md-10">
    <h5>Joe Bloggs</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h6>15/01/16 09:07</h6>
  </div>
</div>

<div id="comment_2" class="row comment" class="row" style="margin-bottom: 2em;">
  <div class="col-xs-2 col-md-2" style="padding-top: 10px;">
    <img src="http://placehold.it/100x100">
  </div>
  <div class="col-xs-10 col-md-10">
    <h5>Jane Doe</h5>
    <p>Lorem ipsum dolor sit amet!</p>
    <h6>16/01/16 21:42</h6>
  </div>
</div>

<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: '<%= @item["youtube"] %>'
    });
  }
  function stopVideo() {
    player.stopVideo();
  }
</script>
