<%= erb :"util/_item_nav" %>

<h1 data-flippd-phase="<%= @item["phase"]["id"]%>"><%= @item["title"] %></h1>
<p class="lead"><%= @item["description"] %></p>

<div id="video" class="embed-responsive embed-responsive-16by9">
  <div id="player"></div>
</div>

<% if @item["resources"] %>
<div id="resources" class="row" style="margin-top: 1.5em;">
  <div class="col-xs-6 col-md-6">
    <h4>Additional Material</h4>
    <ul class="list-unstyled" style="padding-left: 15px; font-size: 120%;">
    <% @item["resources"].each do |resource| %>
      <li style="padding: 3px 0">
        <span class="glyphicon glyphicon-<%=resource["icon"]%>" aria-hidden="true"></span>
        &nbsp; <a href="<%=resource["url"]%>"><%=resource["title"]%></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>

<div id="comments" class="row" style="margin-top: 1em;">
  <div class="col-xs-6 col-md-6">
    <h4><%=@comments.size %> comments</h4>
  </div>
</div>

<div id="comments_form" class="row" style="margin-top: 1em; margin-bottom: 2em;">
  <form action="<%=request.path_info%>/comment" method="POST">
    <div class="form-group">
      <textarea id="new_comment" name="new_comment" class="form-control" rows="4"
        <% if @user.nil? %>
          disabled
        <% end %>
      required></textarea>
    </div>
    <button type="submit" class="btn btn-default pull-right"
    <% if @user.nil? %>
      disabled
    <% end %>
    >Post</button>
  </form>

  <% if @user.nil? %>
    <p style="font-weight: bold; font-size: 1.2em; margin-right: 1em;" class="pull-right">
      <a href="/auth/new">Sign in</a> to post a comment.
    </p>
  <% end %>

</div>

<% @comments.each_with_index do |comment, index| %>

  <div id="comment_<%=index %>" class="row comment" class="row" style="margin-bottom: 2em;">
    <div class="col-xs-2 col-md-2" style="padding-top: 10px;">
      <img src="<%=comment.user.image %>" height="100" width="100">
    </div>
    <div class="col-xs-10 col-md-10">
      <h5><%=comment.user.name %></h5>
      <p><%=comment.text %></p>
      <h6><%=comment.timestamp.strftime("%d/%m/%y %H:%M") %></h6>
    </div>
  </div>

<% end %>

<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: '<%= @item["youtube"] %>'
    });
  }
  function stopVideo() {
    player.stopVideo();
  }
</script>
