<div class="row">
  <div class="col-xs-6 col-md-6">
    <% if @item_prev %>
      <h5>
        <a href="/item/<%=@item_prev["slug"]%>">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
          <%=@item_prev["title"]%>
        </a>
      </h5>
    <% end %>
  </div>
  <div class="col-xs-6 col-md-6" style="text-align: right;">
    <% if @item_next %>
      <h5>
        <a href="/item/<%=@item_next["slug"]%>">
          <%=@item_next["title"]%>
          <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </a>
      </h5>
    <% end %>
  </div>
</div>

<h1 data-flippd-phase="<%= @item["phase"]["id"]%>"><%= @item["title"] %></h1>
<p class="lead"><%= @item["description"] %></p>

<div id="video" class="embed-responsive embed-responsive-16by9">
  <div id="player"></div>
</div>

<% if @item["resources"] %>
<div id="resources" class="row" style="margin-top: 1.5em;">
  <div class="col-xs-6 col-md-6">
    <h4>Additional Material</h4>
    <ul class="list-unstyled" style="padding-left: 15px; font-size: 120%;">
    <% @item["resources"].each do |resource| %>
      <li style="padding: 3px 0">
        <span class="glyphicon glyphicon-<%=resource["icon"]%>" aria-hidden="true"></span>
        &nbsp; <a href="<%=resource["url"]%>"><%=resource["title"]%></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>

<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: '<%= @item["youtube"] %>'
    });
  }
  function stopVideo() {
    player.stopVideo();
  }
</script>
